body{
  margin: 0;
  padding: 0;

}
header{
  background-color: #081826;
  height: 5vh;
  width: 100vw;
  box-sizing: border-box;
  border-bottom: 5px solid #105150;
}
#trackbin{
  float: left;
  background-color: #D1E1DD;
  height: 90vh;
  width: 50vw;
  text-align: center;

}
#trackbinlabel{
  margin-top: 280px;
  font-size: 3.5em;
  color: #081826;
  margin-bottom: 5px;
}
button{
  height: 50px;
  width: 250px;
  border: none;
  background-color: #081826;
  outline: none;
  color: #D1E1DD;

}










#albums{
  float: left;
  height: 90vh;
  width: 50vw;
}


#albums::after{
  content: "";
  background-image: url("../resources/track.fw.png");
  opacity: 0.19;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;



}
#uno{
  width: 50%;
  height: 10%;
  margin: 0 auto;
  position: relative;
  z-index: 1;



}

#alb{
  height: 185px;
  width: 185px;
  z-index: 1;
  position: relative;
  opacity: 1;
  margin-top: 20px;
}














footer{
  clear: both;
  background-color: #081826;
  height: 5vh;
  width: 100vw;
  box-sizing: border-box;

}
h2{
  margin-left: 75px;
  color: #D1E1DD;
}
