body {
  margin:   0px;
  padding:  0px;
  width:    100vw;
  height:   100vh;
}
.container {
  position: fixed;
  top:      0;
  left:     0;
  bottom:   0;
  right:    0;
}
.row {
width:   100%;
display: block;
}
.row1 {
  height:           150px;
  background-color: DarkKhaki;
  margin-left:      -15px;
  padding-right:    20px;
  margin-top:      -10px;
}
.row2 {
    height:560px;
  }

.row3{
  margin-left:      -15px;
  margin-right:     30px;
  height:           60px;
  line-height:      30px;
  background-color: DarkKhaki;
  position:         fixed;
  bottom:           0;
  color:            white;
  padding-left:     60px;
}

.album{
  padding-top:    80px;
  font-size:      25px;
  float:          right;
  margin-right:   250px;
  margin-bottom:  40px;
  color:          white;
  padding-right:  650px;
}

.button1, .button2 {
    background-color: gray;
    color:            white;
    padding:          15px 32px;
    text-align:       center;
    font-size:        16px;
    border-radius:    5px;
    margin-left:      320px;
    margin-top:       60px;
  }

.display{
  height:            150px;
  padding-right:     90px;
}

.details{
  height:           200px;
  margin-top:       35px;
  margin-left:      50px;
  margin-right:     50px;
  }

.track{
  height:100%;
  width:25%;
  display:inline-block;
  border:solid;
  margin-left: 60px;
  margin-right:35px;
}
.track1{
  border: none;
}
.content1, .content2{
  height:15%;

}

.content3{
  height:70%;
}
