body {
    margin:   0px;
    padding:  0px;
    width:    100vw;
    height:   100vh;
}

.container {
      position: fixed;
      top:      0;
      left:     0;
      bottom:   0;
      right:    0;
    }

.row {
    width:   100%;
    display: block;
  }

.row1 {
    height:              80px;
    background-color:    DarkKhaki;
    margin-left:         -15px;
    padding-right:       20px;
    margin-top:          -10px;
    margin-right:        10px;
    border-bottom-style: solid;
  }

.row2 {
    height: 610px;
  }

.row3 {
    margin-left:      -45px;
    margin-right:     160px;
    height: auto      80px;
    line-height:      40px;
    background-color: DarkKhaki;
    position:         fixed;
    bottom:           0;
    color:            white;
    padding-left:     120px;
  }

.left_panel {
      float:   left;
      width:   49vw;
    }

.right_panel {
      float:  right;
      width:  49.88vw;
      height: 100%;
    }

.image {
    height:           100%;
    background:       url(https://raw.githubusercontent.com/gSchool/playlist/master/resources/fadedTrack.jpg);
    background-size:  contain;
    background-repeat:no-repeat;
    margin-left:      255px;
    margin-right:     -5px;
  }

  .button {
    background-color: gray;
    color:            white;
    padding:          20px 42px;
    text-align:       center;
    font-size:        16px;
    border-radius:    5px;
    margin-left:      320px;
    margin-top:       250px;
    position: fixed;
   }

.text {
  text-align:      center;
  padding-top:     180px;
  font-size:       30px;
  float:           right;
  margin-right:    240px;
  margin-bottom:   35px;
  color:           purple;
}
