
@font-face {
font-family: "derp";
src: url('../../fonts/AvenirNextLTPro-Regular.otf');
}

#container {
  width: 100%;
  height: 100%;
}


body{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "derp"
}
#topBar{
  height: 100px;
  background-color: #9B9B8C;
  width: 100%;
}

#topText{
  padding: 0;
  margin: 0;
  position: relative;
  top: 74px;
  color: white;
  padding-left: 30px;
  font-size: 1.2em;

}

#pictures {
  height: 100%;
  width: 60%;
  margin: 0 auto;
  display: block;
}

.pic {
  padding-top: 20px;
  padding-right: 40px;
  height: 100px;
  width: 100px;
}

#scroll {
  height: 12px;
  width: 100%;
  background-color: #DDDDDD;
  margin-top: 40px;
}

#scrollShade {
  height: 12px;
  background-color: #777777;
  width: 250px;
  border-radius: 5px;
  margin-left: 20px;
}

#middleStuff{
  height: 100%;
  width: 100%;
}

#box {
  height: 160px;
  width: 80%;
  background-color: #EEEEEE;
  margin: 0 auto;
  margin-top: 40px;
  border: 2px solid black;
  overflow: scroll;
}

.pPad {
  padding-left: 8px;
}

.choose {
  position: relative;
  background-color: #353526;
  color: white;
  font-size: 1em;
  padding: 10px 39px 10px 39px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 15px;
}

#button {
  margin-left: 10%;
}

footer {
  height: 40px;
  background-color: #686859;
  width: 100%;
  position: relative;
  top: 33px;
  margin-bottom: 0;
  padding-bottom: 0;
  color: white;
}
#copyright {
  padding-left: 30px;
  padding-top: 10px;
}

.pic {
  cursor: pointer;
}
